

.box-container, .inner {
    width: 200px;
    height: 200px;
    transition: whith 5s, height 5s;
    
}
.box-container{
    border: 3px solid lightcoral;
    background-color: blue;
    transform: rotate(50deg) ;
    
     
}
.box-container:hover{
    width: 400px;
    height: 400px;

}
.inner{
    background-color: green;
    transform:scaleX(0.6) scaleY(0.5) rotate(45deg) translate(90px);
    
    
   

}